.single-post {
    flex: 3;
}

.single-post-container {
    margin: 20px;
    /* padding: 20px; */
    background-color: #f9f9f9;
    border-radius: 8px;
}

.single-post-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.single-post-title {
    font-family: "Lora", serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 25px 5px;
}

.single-post-about {
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
    font-family: "Varela Round", sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    color: #666;
}

.single-post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 25px 20px;
}

.single-post-category {
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #323232;
    border: 1.5px solid #323232;
    cursor: pointer;
    margin-right: 10px;
}

.single-post-content {
    margin: 0 25px 20px;
    font-size: 1rem;
    line-height: 1.4;
    color: #444;
}

.single-post-content::first-letter{
    margin-left: 25px;
    font-weight: 600;
    font-size: 1.8rem;
}