.header {
    margin-top: 2.8rem;
    position: relative;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 300;
    color: #494949;
}

.header-title-large {
    position: relative;
    font-size: 4.3rem;
    z-index: 1;
}

.header-title-small {
    position: relative;
    font-size: 2rem;
    z-index: 1;
}

.header-image {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    margin-top: 0.5rem;
    position: relative;
    top:-48px
}


